main {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  align-items: center;
  margin: auto;
}

main button {
  border: none;
  outline: none;
  background-color: #09f;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: .3s background-color;
}

main button:hover {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #fff;
  outline: 1px solid #09f;
  color: #09f;
  transition: .3s background-color;
}

main img {
  max-width: 500px;
  max-height: 500px;
}
